:root{
    --airbnb_red:#FF585D;
}
html{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: var(--airbnb_red);
}
.nav-brand{
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: white;
}
.nav-list{
    list-style-type: none;
    display: flex;
}
.nav-list-item{
    display: inline;
}